<h1>Music styles</h1>
<hr>
<table>
   <thead>
       <tr>
           <th>color</th>
           <th>name</th>
           <th>wiki</th>
           <th>image</th>
           <th>update</th>
           <th>delete</th>
           
       </tr>
   </thead>
   <tbody>
       {{#each styleDisplay}} 
       <tr>
           <td class="color" style="background-color: #{{this.color}}"> </td>
           <td>{{this.name}}</td>
           <td>{{this.wikiURL}}</td>
           <td>{{this.image}}</td>
           <td> <a href="/dashboard/styles/update/{{this._id}}">Update</a> </td>
           <td><a href="/dashboard/styles/delete/{{this._id}}">Delete</a></td>
       </tr>
       {{/each}}
   </tbody>
</table>
